*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
    list-style: none;
    text-decoration: none;
    transition: 300ms;
}

body {
    min-height: 100vh;
    font-family: 'Mulish', sans-serif;
    background-color: #f5f5f5;

}
img, picture, svg, video {
    display: block;
    max-width: 100%;
}
a {
    color: black;
    cursor: pointer;
}
.active {
    text-decoration: underline solid 1px;
}


/*** Header ***/
header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    font-family: 'Amatic SC', sans-serif;
    margin: auto;
    padding: .5em 1em;
    color: #fcf3f5;
    background-color: #181014;
  }

  .animation .text-cont {
    position: relative;
    display: flex;
    font-size: clamp(2rem, 4.5vw, 5rem);  
  }
  
  .animation .line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 100%;
    background-color: whitesmoke;
    transform-origin: 0.5 0;
  }
  
  .animation .icon {
    width: 1.5em;
    margin: 0 .1em;
  }
  
  .animation .letters {
    opacity: 0;
  }

  .nav-mobile i {
    font-size: 1.6rem;
    color: #fcf3f5;
  }
  .nav-mobile {
    overflow: hidden;
    position: relative;
  }
#nav-links {
    display: none;
    justify-content: space-around;
    align-items: center;
    background-color: #181014;

  }
  #nav-links a {
    font-size: 1.5rem;
    font-family: 'Amatic SC', sans-serif;
    color: #fcf3f5;
  }
  #nav-links img {
    width: 2.2rem;
  }

  /*** Media query +675px ***/
  ul {
    display: none;
  }
/*** home page ***/
.hero {
    background: url('images/ponte25deabril.jpg');
    background-size: cover;
    color: whitesmoke;   
}
.hero-text {
    text-align: justify;
    padding: 5em .5em 1em;
}

.hero-header {
    margin-bottom: .1em;
    font-size: clamp(1.8rem, 2.5vw, 2.8rem); 
    font-weight: 700;
}
.hero-subtext {
     padding: 0 .2em .5em .2em; 
     font-size: clamp(1rem, 2.5vw, 2rem); 
    }
.photo-credit {
    text-align: right;
    color: whitesmoke;
    font-size: clamp(.4rem, 2.5vw, .8rem);
    margin-right: .5em;
}
.photo-credit a {
    color: whitesmoke;   
}
.blog:nth-child(n+4) {
    display: none;
}
.blog-cont {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(21em, 1fr));
    gap: 1.5rem;
    padding: 2em 1.5em;
    
}
.date {
    font-size: clamp(.8rem, 2.5vw, 1.2rem); 
    padding-top: .7em;
}
.blog-title {
    font-size: clamp(1rem, 2.5vw, 1.4rem);
    font-weight: 600;
    padding: .3em 0;
}
.body {
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    text-align: justify;
}
.read-more {
    display: block;
    text-align: center;
    font-size: clamp(1.2rem, 3.5vw, 1.6rem);
    color: black;
    font-weight: 600;
    margin-bottom: 2em;
}
.read-more:focus,
.read-more:hover {
    opacity: .5;
    transform: scale(1.1);
}

/*** about page ***/
.about-intro, .intro-top {
    display: flex;
    flex-direction: column;
    padding: 1em .5em;
    gap: 1em;
}

 .about-intro { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "topper topper topper"
        "sub1 sub1 sub1"
        "p2 p2 p2"
        "sub2 sub2 sub2"
        "p3 p3 p3" ;   
    gap: 1em 0;   
    padding: 1em .5em;   
}
.intro-top {grid-area: topper;}
.sub1 {grid-area: sub1;}
.p2 {grid-area: p2;}
.sub2 {grid-area: sub2;}
.p3 {grid-area: p3;}

.profile-img {
    border-radius: 100%;
    max-width: 11.25em;
}
.about-header {
    font-weight: 600;
    font-size: clamp(1.5rem, 3vw, 2.8rem);  
    margin-bottom: .4em; 
}
.p1 a {
    text-decoration: underline 2px dotted black;
}
.about-intro p {
    font-size:  clamp(1rem, 2.5vw, 1.1rem);
    text-align: justify;
}
.about-intro h4 {
    font-weight: 600;
    font-size: clamp(1rem, 3vw, 1.4rem);
}
.recent-posts {
    text-align: center;
    font-weight: 600;
    font-size: clamp(1rem, 3vw, 1.2rem);
    padding-top: 1.3em;
}

/*** projects page ***/
.projects-main {
    margin: 3.5em 1.5em 3em 1.5em;
}
.projects-main h2{
 font-size: clamp(1.1rem, 3.5vw, 2.0rem);
 margin: 1.5em .3em .5em .3em;
 font-weight: 700;
 text-align: justify;
}
.projects-gallery {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(21em, 1fr));
    gap: 1.5em;    
}
.projects-gallery span {
    /* border: 1px solid black; */
    border-radius: 5px;
    padding: .5em .3em;
    box-shadow: 1px 1px 2px 1px rgb(168, 168, 168);
}
.projects-gallery img {
    border-radius: 4px 4px 0 0; 
}
.projects-gallery img:hover {
    opacity: .7;
}
.projects-gallery h4 {
    font-weight: 600;
    text-align: center;
    padding: .3em 0;
}
.projects-gallery h5 {
    text-align: justify;
    padding: .2em .3em .4em .3em;
}
.projects-gallery p {
    font-size: clamp(.5rem, 3.5vw, 1rem);
    text-align: center;
    font-style: italic;
    background-color: #181014;
    color: #fcf3f5;
}
.projects-gallery a {
    color: #fcf3f5;
}

/*** contact page ***/
.contact-info {
    font-family: 'Amatic SC', sans-serif;
    text-align: center;
    font-size: clamp(2rem, 4.5vw, 5rem);
    background-color: black;
    color: whitesmoke;
    padding: 1em .5em;
    margin: 4em auto 10em auto;
    width: 85%;
}
.contact-info h3 {
    margin: 0 auto;
}
.contact-info a {
    color: #fcf3f5;
}
/*** footer ***/
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: whitesmoke;
    font-size: clamp(.8rem, 3vw, 1.2rem);
    padding: 1em 0;
}
footer a {
    display: inline;
    font-size: clamp(1.3rem, 3vw, 1.8rem);
    padding-left: .7em;
    color: whitesmoke;
}
@media (min-width: 675px) {
    .nav img {
        width: clamp(4rem, 3.5vw, 5rem);
    }
   
    ul {
        display: flex;
        align-items: center;
      } 
    li {
        font-size: clamp(2rem, 3.5vw, 2.8rem);
        padding-left: .5em;  
        color: #fcf3f5;
    }
    .nav img:hover,
    li:hover {
        opacity: .5;
        transform: scale(1.1);
  }
      .nav-mobile {
        display: none;
      }
    .hero-text {
        padding: 15em 0 2em 1em;
    }
      .hero-header {
        margin-bottom: .3em;    
    }
    .hero-subtext {
        width: 50%;
    }
    .blog:nth-child(n+4) {
        display: grid;
    }
    .blog-title {
        padding-bottom: .5em;
    }
 
    .about-intro {
        margin: 2.5em 4em;
    }

    .intro-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 2.5em;   
    }


}


@media (min-width:1410px) {
    .blog-cont {
        grid-template-columns: repeat(3, 1fr);
    }
}

